.dashboard {
  width: 100%;
  height: 100%;
  /* background-image: url("/public/images/sanitary.jpg"); */
  background-color: #ebeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #222;
  border: 1px solid #007bff;
  color: white;
  transition: background-color 0.3s;
}

.card-text {
  color: #007bff;
}

.card-title {
  color: rgba(255, 206, 86, 0.6);
}

.card:hover {
  background-color: #007bff;
}

.card:hover .card-title {
  color: white;
}

.card:hover .card-text {
  color: yellow;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

.custom-card-style {
  width: 270px;
}

.barChart {
  height: 400px;
  width: 800px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .cards .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
