.table-head {
  background-color: lightblue;
}

.table-heading th {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.table-heading td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.headerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 10px;
}

.right-content {
  width: 50%;
}

.left-content {
  width: 50%;
}

.headerStyle .right-content > p {
  margin: 0;
}

.headerStyle .left-content p {
  margin: 0;
}

.footerStyle {
  text-align: center;
  margin-bottom: 10px;
}

.footerStyle p {
  margin: 0;
}

.invoice {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.receipt-table {
  margin-top: 20px;
  margin-bottom: 20px;
}
