.actions {
  display: flex;
  gap: 10px;
  justify-content: start;
  padding-top: 20px;
}

.circles {
  cursor: pointer;
}

.heading {
  background-color: #f0f0f0;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrollable-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  /* max-height: 450px; */
  height: 500px;
  padding: 10px;
}

.total-price {
  position: sticky;
  bottom: 0;
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 1;
}
